<div class=".col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm"> <!-- f is reference to the object angular creates from the form-->
        <div class="form-group">
            <label for="book-name">Name</label>
            <input 
                type="text" 
                id="book-name" class="form-control" 
                [ngModel]="book?.name"
                name="bookName"
                required>
            <label for="book-author">Author</label>
            <input 
                type="text" 
                id="book-author" class="form-control" 
                [ngModel]="book?.author"
                name="bookAuthor"
                required>
        </div>
            <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
